/* Импорт шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* Импорт кастомных стилей для компонентов */
@import './block/button.css';
@import './block/menu-button.css';
@import './block/menu.css';
@import './block/swiper.css';
@import './block/sliders.css';
@import './block/scrool-top.css';
@import './block/video.css';
@import './block/hero.css';

/* Импорт TailWind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Зарегистрируйте пользовательское семейство шрифтов и сообщите браузеру, где его найти. */
@font-face {
    font-family: 'toony_loons_rus';
    src: url('../src/fonts/toony_loons.ttf.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --blue: #00ADFF;
    --green: #A3CD39;
    --pink: #F8128E;
    --orange: #F9AD00;
    --yellow: #fff8db;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        font-family: "Jost", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        overflow-x: hidden;
    }
}

/* Директивы классов */
.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

/* Прочие классы */
.lock {
    overflow: hidden;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.yellow-wrapper {
    border-radius: 20px;
    background: #fffbee;
    padding-left: clamp(1.563rem, 0.848rem + 3.571vw, 4.063rem);
    padding-right: clamp(1.563rem, 0.848rem + 3.571vw, 4.063rem);
}

.title {
    font-family: "toony_loons_rus", sans-serif;
    font-weight: 400;
    font-size: clamp(1.875rem, 1.339rem + 2.679vw, 3.75rem);
    text-transform: uppercase;
    color: #262626;
    margin-bottom: 20px;
    line-height: 1.1;
}

.gallery-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 768px) {
    .gallery-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

@media (min-width: 950px) {
    .gallery-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}

@media (min-width: 1024px) {
    .gallery-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
}

.balloons {
    position: absolute;
    top: 50%;
    right: -150px;
    will-change: transform;
    transition: transform 0.5s ease;
}

@media (max-width: 560px) {
    .balloons {
       width: 175px;
       height: 162px;
       top: 30%;
    right: -30px;
    }
}

.price h3,
.holiday h3 {
    font-family: "Jost", sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;

    position: relative;
}

.price h3::before,
.holiday h3::before,
.price h3::after,
.holiday h3::after {
    content: "";
    position: absolute;
    top: 0;
    width: 25px;
    height: 25px;
}

.price h3::before,
.holiday h3::before {
    left: -40px;
    background-image: url('../src/img/icons/quoter-left.svg');
}

.price h3::after,
.holiday h3::after {
    right: -40px;
    background-image: url('../src/img/icons/quoter-right.svg');
}

.price__decor {
    position: absolute;
    top: 50%;
    right: -30px;
    will-change: transform;
    transition: transform 0.5s ease;
}

@media (max-width: 698px) {
    .price h3,
    .holiday h3 {
        font-size: 22px;
    }
}
@media (max-width: 520px) {
    .price__decor {
        top: 65%;
        right: -30px;
        width: 98px;
        height: 140px;
    }
}
.important {
    background-color: var(--yellow);
    border-radius: 22px;
    position: relative;
}

.important h2 {
    display: inline-block;

    font-family: "Jost", sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;

    border-radius: 43px;
    background: #f8128e;
    padding: 0 20px;
}

.important li {
    position: relative;
    padding-left: 15px;
}

.important li::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 0;
    border-radius: 2px;
    width: 8px;
    height: 8px;
    transform: translateY(-50%);
    background: #f9ad00;
}

.important li:nth-child(even):before {
    background: #00adff;
}

.important__decor {
    position: absolute;
    top: 30%;
    right: -30px;
    will-change: transform;
    transition: transform 0.5s ease;
}

.holiday__header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 0 25px;
    margin-bottom: 30px;
}

.holiday__header-title {
    font-family: "Jost", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #262626;
    text-align: left;
}

.holiday__header-button {
    font-family: "Jost", sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.06em;
    color: #fff;

    border-radius: 87px;
    background: #f8128e;
    padding: 5px 20px;
}

.holiday ul {
    text-align: left;
    padding: 0 25px;
}

.holiday li {
    margin-bottom: 10px;
    position: relative;
}

.holiday li::before {
    content: '';
    position: absolute;
    top: 7px;
    left: -20px;
    width: 9px;
    height: 9px;
}

.holiday li:nth-child(1):before,
.important li:nth-child(1):before {
    background: #f9ad00;
}

.holiday li:nth-child(2):before,
.important li:nth-child(2):before {
    background: #f8128e;
}

.holiday li:nth-child(3):before,
.important li:nth-child(3):before {
    background: #00adff;
}

.holiday li:nth-child(4):before,
.important li:nth-child(4):before {
    background: #a3cd39;
}

.holiday__decor {
    position: absolute;
    top: 0;
    left: -30px;
    will-change: transform;
    transition: transform 0.5s ease;
}

.important__wrapper {
    display: grid;
    grid-template-columns: 125px 1fr;
    align-items: start;
    gap: 20px;
}
.important__list {
    column-count: 2;
    column-gap: 60px;
}

@media (max-width: 698px) {
.important__wrapper {
    grid-template-columns: 1fr;
}

.important__list {
    column-count: auto;
}
}

.sales {
    padding: 70px 0;
}

.sales__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
gap: 30px;
}

.sales__item {
    border-radius: 20px;
    padding: 20px;
    font-family: "Jost", sans-serif;
    background-image: url('../src/img/bg/sales-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
}

.sales__item__header {
    border-radius: 10px;
    background-color: #fff;
    padding: 20px 10px;
    min-height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sales__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
}

.sales__item img {
    max-height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sales__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    text-transform: uppercase;
    color: #ffffff;
}

.sales__percent {
    font-weight: 700;
    font-size: clamp(4.375rem, 3.715rem + 2.817vw, 6.25rem);
    line-height: 120%;
    text-transform: uppercase;
    color: #ffffff;
}

.sales__description {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #ffffff;
}

@media (max-width: 768px) {
    .sales__list {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 520px) {
    .sales__list {
        grid-template-columns: 1fr;
    }

    .sales__item-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        margin: 20px 0;
    }

    .sales__item img {
        max-height: 62px;
        width: auto;
        object-fit: cover;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.swiper-button-wrapper-feedback {
    max-width: 160px;
    display: block;
}
.swiper-pagination-feedback {
    position: relative;
    bottom: -3px !important;
    left: 45px !important;
}

.feedback-section {
    background-image: url('../src/img/bg/feedback-bg.png');
    background-repeat: no-repeat;
    background-position: left bottom;
}

.feedback__decor {
    position: absolute;
    top: -5px;
    left: -20px;
    will-change: transform;
    transition: transform 0.5s ease;
}

@media (max-width: 520px) {
    .feedback__decor {
        width: 96px;
        height: 144px;
    }
}

.contact-text {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 135%;
    color: #262626;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 152%;
    text-align: right;
    color: rgba(0, 0, 0, 0.6);
}

.bg-price-1 {
    background-image: url('../src/img/bg/price-bg-1.png');
    background-repeat: no-repeat;
    background-position: bottom left;
}
.bg-price-2 {
    background-image: url('../src/img/bg/price-bg-2.png');
    background-repeat: no-repeat;
    background-position: top right;
}
.bg-price-3 {
    background-image: url('../src/img/bg/price-bg-3.png');
    background-repeat: no-repeat;
    background-position: top right;
}

/* костыли для мобилки */

@media (max-width: 520px) {
    .important__decor {
        width: 140px;
        height: 70px;
        top: 14%;
        right: -5px;
    }

    .mobile-before-title::before {
        left: 0 !important;
    }
    .mobile-before-title::after {
        right: 0 !important;
    }

    .holiday__decor {
        width: 110px;
        height: 110px;
    }

    .important__decor-2 {
        width: 115px !important;
        height: 148px !important;
        top: auto !important;
        right: -30px !important;
        bottom: -24px !important;
        transform: rotate(35deg)
    }

    .contact-text {
        font-size: 14px;
    }

    .flex-auto-0 {
        flex: 0 0 auto;
    }
}

