/* Импорт шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* Импорт кастомных стилей для компонентов */
@import './block/button.css';
@import './block/menu-button.css';
@import './block/menu.css';
@import './block/swiper.css';
@import './block/sliders.css';
@import './block/scrool-top.css';
@import './block/video.css';
@import './block/hero.css';

/* Импорт TailWind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Зарегистрируйте пользовательское семейство шрифтов и сообщите браузеру, где его найти. */
@font-face {
    font-family: 'toony_loons_rus';
    src: url('../src/fonts/toony_loons.ttf.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --blue: #00ADFF;
    --green: #A3CD39;
    --pink: #F8128E;
    --orange: #F9AD00;
    --yellow: #fff8db;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        font-family: "Jost", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        overflow-x: hidden;
    }
}

/* Директивы классов */
.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

/* Прочие классы */
.lock {
    overflow: hidden;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.yellow-wrapper {
    border-radius: 20px;
    background: #fffbee;
    padding-left: clamp(1.563rem, 0.848rem + 3.571vw, 4.063rem);
    padding-right: clamp(1.563rem, 0.848rem + 3.571vw, 4.063rem);
}

.title {
    font-family: "toony_loons_rus", sans-serif;
    font-weight: 400;
    font-size: clamp(1.875rem, 1.339rem + 2.679vw, 3.75rem);
    text-transform: uppercase;
    color: #262626;
    margin-bottom: 20px;
    line-height: 1.1;
}

.gallery-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 768px) {
    .gallery-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

@media (min-width: 950px) {
    .gallery-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}

@media (min-width: 1024px) {
    .gallery-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
}

.balloons {
    position: absolute;
    top: 50%;
    right: -150px;
    will-change: transform;
    transition: transform 0.5s ease;
}

.price h3,
.holiday h3 {
    font-family: "Jost", sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;

    position: relative;
}

.price h3::before,
.holiday h3::before,
.price h3::after,
.holiday h3::after {
    content: "";
    position: absolute;
    top: 0;
    width: 25px;
    height: 25px;
}

.price h3::before,
.holiday h3::before {
    left: -40px;
    background-image: url('../src/img/icons/quoter-left.svg');
}

.price h3::after,
.holiday h3::after {
    right: -40px;
    background-image: url('../src/img/icons/quoter-right.svg');
}

.price__decor {
    position: absolute;
    top: 50%;
    right: -30px;
    will-change: transform;
    transition: transform 0.5s ease;
}

.important {
    background-color: var(--yellow);
    border-radius: 22px;
    overflow: hidden;
    position: relative;
}

.important h2 {
    display: inline-block;

    font-family: "Jost", sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;

    border-radius: 43px;
    background: #f8128e;
    padding: 0 20px;
}

.important li {
    position: relative;
    padding-left: 15px;
}

.important li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 2px;
    width: 8px;
    height: 8px;
    transform: translateY(-50%);
    background: #f9ad00;
}

.important li:nth-child(even):before {
    background: #00adff;
}

.important__decor {
    position: absolute;
    top: 30%;
    right: -30px;
    will-change: transform;
    transition: transform 0.5s ease;
}

.holiday__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0 25px;
    margin-bottom: 30px;
}

.holiday__header-title {
    font-family: "Jost", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #262626;
    text-align: left;
}

.holiday__header-button {
    font-family: "Jost", sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.06em;
    color: #fff;

    border-radius: 87px;
    background: #f8128e;
    padding: 5px 20px;
}

.holiday ul {
    text-align: left;
    padding: 0 25px;
}

.holiday li {
    margin-bottom: 10px;
    position: relative;
}

.holiday li::before {
    content: '';
    position: absolute;
    top: 7px;
    left: -20px;
    width: 9px;
    height: 9px;
}

.holiday li:nth-child(1):before {
    background: #f9ad00;
}

.holiday li:nth-child(2):before {
    background: #f8128e;
}

.holiday li:nth-child(3):before {
    background: #00adff;
}

.holiday li:nth-child(4):before {
    background: #a3cd39;
}

.holiday__decor {
    position: absolute;
    top: 0;
    left: -30px;
    will-change: transform;
    transition: transform 0.5s ease;
}